{% extends "main.html" %}
{% block content %}

<h1>my courses</h1>
<div class="container">
    {% if messages %}
        <div class="alert alert-success" role="alert">
            {% for message in messages %}
                <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
            {% endfor %}
        </div>
    {% endif %}
    <div class="card">
        <table class="table">
            <thead>
                <tr>
                    <th>-</th>
                    <th>code</th>
                    <th>name</th>
                    <th>description</th>
                    <th>istructor</th>
                    <th>capacity</th>
                </tr>
            </thead>
            <tbody>
                {% for course in courses %}
                <tr>
                    <td rowspan="2"><a class="btn btn-danger" href="{% url "unreg_course" course.code %}">remove</a></td>
                    <td rowspan="2">{{course.code}}</td>
                    <td rowspan="2">{{course.name}}</td>
                    <td>{{course.description}}</td>
                    <td rowspan="2">{{course.instuctor}}</td>
                    <td rowspan="2">{{course.capacity}}</td>
                </tr>
                <tr>
                    <td>
                        {{course.schedule}}
                    </td>
                </tr>
                
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
</div>
{% endblock content %}